/* EMAIL SECTION */
.email-section {
    width: 1320px;
    height: 500px;
    max-width: 1320px;
    margin-top: 200px;
    margin-right: auto;
    margin-left: auto;
    background-color: var(--mid-yellow);
}
.container-email {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.email-heading {
    margin-bottom: 20px;
    color: var(--dark-grey);
    margin-top: 40px;
}
.form-div {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 50px;
    flex-direction: column;
    justify-content: center;
}
.email-form {
    display: flex;
    justify-content: center;
    align-items: center;
}
.textfield-wrapper {
    position: relative;
    margin-right: 18px;
}
.textfield-icon {
    position: absolute;
    left: 8%;
    top: 30%;
    right: auto;
    bottom: auto;
    width: 30px;
    height: 30px;
    background-image: url("../project-assets/newsletter/icon/mail.svg");
    background-position: 50% 50%;
    background-size: auto;
    background-repeat: no-repeat;
}
.text-field {
    width: 393px;
    height: 80px;
    margin-bottom: 0px;
    padding-left: 70px;
    background-color: var(--lighter-blue);
    color: var(--dark-grey);
    display: block;
    font-size: 14px;
    line-height: 1.42857143;
    border: 1px solid #cccccc;
}
.btn-email {
    height: 84px;
    margin-left: 20px;
    padding-right: 60px;
    padding-left: 60px;
}