/* Extra large devices (large desktops, 1280px and up) */
@media (max-width: 1280px) {
    /* HERO */
    .hero-card-2 {
        right: -10%;
    } 
    /* EMAIL */
    .email-section {
        width: 1262px;
    }
}

/* Large devices (desktops, 1024px and up) */
@media (max-width: 1024px) {
    /* GENERALS */
    .container-main {
        max-width: 950px;
    }
    /* HERO */
    .hero-card-main {
        max-width: 500px;
    }
    .hero-card-1 {
        left: -9%;
    }
    .hero-card-2 {
        right: -6%;
        width: 274px;
        bottom: -27%
    }
    /* PROJECTS */
    .projects-item {
        width: 288px;
    }
    .section.testimonial {
        margin-top: 100px;
    }
    /* SERVICES */
    .services {
        margin-top: 100px;
    }
    /* EMAIL */
    .email-section {
        width: 100%;
    }
}

/* Medium devices (tablets, 912px and up) Surface Pro 7 */
@media (max-width: 912px) {
    /* GENERALS */
    .container-main {
        max-width: 850px;
    }
    /* PROJECTS */
    .projects {
        margin-top: 100px;
        padding: 0px 0px;
    }
    .projects-item {
        width: 256px;
    }
    .projects-card-image {
        height: 200px;
    }
    /* TESTIMONIAL */
    .section.testimonial {
        margin-top: 50px;
    }
    .emoji.top-left {
        margin-left: 0%;
    }
    .emoji.top-right {
        margin-right: 0%;
    }
    /* EMAIL */
    .email-section {
        margin-top: 100px;
    }
}
/* Small devices (landscape phones, 768px and up) iPad Mini */
@media (max-width: 768px) {
    /* GENERALS */
    .container-main {
        max-width: 700px;
    }
    .h1 {
        font-size: 30px;
    }
    /* NAVBAR */
    .navbar-main {
        margin-top: 30px;
    }
    /* HERO */
    .hero-card-main {
        max-width: 400px;
    }
    .hero-buttons {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .hero-primary {
        margin-right: 20px;
    }
    .hero-card-1 {
        width: 246px;
    }
    .hero-card-2 {
        right: -7%;
        width: 240px;
        bottom: -36%;
    }
    /* COMPANIES */
    .logos {
        grid-template-columns: 2fr 2fr 2fr;
    }
    /* PROJECTS */
    .projects-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    .projects-title {
        margin: 12px 30px 20px;
    }
    .projects-item {
        margin-bottom: 10px;
        width: 340px;
    }
    .projects-text {
        padding: 16px;
    }
    .projects-card-image {
        height: 280px;
    }
    /* TESTIMONIALS */
    .emoji {
        width: 100px;
        height: 100px;
    }
    .emoji.top-left, .emoji.top-right {
        margin-top: 0;
    }
}

/* Small devices (landscape phones, 412px and up) Galaxy Ultra S20 */
@media (max-width: 412px) {

}