/* ESTILOS GENERALES */
:root {
    --dark-blue: #072AC8;
    --mid-blue: #43D2FF;
    --neutral-blue: #A2D6F9;
    --light-blue: #D1EDFF;
    --lighter-blue: #ECF7FF;
    --dark-grey: #292E47;
    --neutral-grey: #6B708D;
    --light-grey: #F2F4FC;
    --mid-yellow: #FFC600;
}
* {
    font-family: 'Roboto', sans-serif;
    color: var(--neutral-grey);
    box-sizing: border-box;
}
html, body {
    background-color: var(--light-grey);
    margin: 0px;
}
.nav-active {
    color: #0082f3;
}
.h1, .h2, .h3, .h4 {
    font-weight: 700;
}
.intro-t-m, .head-t-m {
    font-weight: 500;
}
.intro-t-r, .head-t-r, .caption1-t-r, .caption2-t-r {
    font-weight: 400;
}
.h1 {
    font-size: 60px;
    color: var(--dark-grey);
    margin-bottom: 30px;
    margin-top: 20px;
}
.h2 {
    font-size: 50px;
    color: var(--dark-grey);
}
.h3 {
    font-size: 40px;
}
.h4, .intro-t-m{
    font-size: 24px;
}
.intro-t-r {
    font-size: 20px;
}
.head-t-r, .head-t-m, .email-subtitle {
    font-size: 17px;
}
.caption1-t-r {
    font-size: 15px;
}
.caption2-t-r {
    font-size: 13px;
}
.head-t-m {
    text-decoration: none;
}
.nav-link {
    position: relative;
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    padding: 20px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}
.nav-link:hover, .hero-text-button:hover {
    font-weight: bold;
}
.projects-link:hover, .footer-link:hover {
    text-decoration: underline;
}
.primary-button {
    padding: 15px 30px;
    background-color: #072ac8;
    font-size: 17px;
}
.primary-button:hover {
    filter: drop-shadow(10px 10px 2px #4444dd8c);
    transition: all 0.1s;
}
.g-button {
    display: inline-block;
    color: white;
    border: 0;
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;
    border-radius: 0;
}


/*////////////////*/
/* ESTRUCTURA WEB */
/*////////////////*/

/* NAVBAR */
.navbar-main {
    /* height: 122px; */
    margin-top: 70px;
}
.container-main {
    max-width: 1100px;
    margin-right: auto;
    margin-left: auto;
}
.container-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--light-grey);
    color: var(--light-grey);
}
.navbar-logo {
    width: 60px;
    height: 18px;
    background-image: url("../project-assets/logos/circle.svg");
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
}
.burguer-menu {
    display: none;
    position: absolute;
    border-color: transparent;
    background-color: transparent;
    font-size: 1.5em;
    right: 22px;
    z-index: 2;
}
.nav-mobile {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    background-color: white;
    transition: 1s all;
    z-index: 1;
}
.fa-bars {
    transition: 1s all;
}