/* ESTILOS GENERALES */
.project-heading {
    font-size: 60px;
    color: var(--dark-grey);
}
.intro-metadata {
    display: flex;
    justify-content: space-between;
}
.project img {
    max-width:100%;
    max-height:100%;
}